//Colors

$light-green: #94eac3;
$green:#19e086;
$grass-green:#0ca064;
$brown:#9d816f;
$dark-jungle-green:#0D160B;
$black: #000;


//Fonts
$mini: 15px;
$small: 16px;
$medium: 20px;
$medium-big: 34px;
$big: 48px;

$large-padding: 10px 15px;
$big-padding: 20px 30px;

$default-margin-top: 30px;
$big-margin-top: 90px;

$border-radius: 4px;

$spacing-p: 0.2em;
$spacing-h: 0.5em;
$lines-spacing: 3em;
$lines-spacing-m: 1.5em;
